{% extends 'sender/base.html' %}

{% block content %}

    <div class="center">

        <h2>{{object.name}}</h2>
        <h3>Почта: {{object.email}}</h3>
        <h4>Верифицирован: {{object.is_verified}}</h4>
        <h4>Заблокирован: {{object.is_blocked}}</h4>
        {% if object.is_blocked %}
        <a href="{% url 'users:block_user' user_pk=object.pk %}">Разблокировать</a>
        {% else %}
        <a href="{% url 'users:block_user' user_pk=object.pk %}">Заблокировать</a>
        {% endif %}

    </div>

{% endblock %}
